body{
    margin:0;
    background:#000;
}
*{
    font-family:Candara;
    color:white;
}
.wrapper{
    height:100vh;
}

.parallax-img{
    height:100%;
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url('Image/photo.jpg');
}

h1{
    margin:15px;
    text-align: center;
}

p{
    margin:15px;
    font-size:1.1rem;
}
