input {
  transform: scale(1.5);
  margin: 10px 5px;
}

img {
  width: 1520px;
  height: 980px;
  transition: 0s;
}

input:checked + br + img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  object-position: left-top;
  transition: width 2s, height 4s;
}